body {
  background-color: #81542a;
  background: linear-gradient(#ecdcc8, rgb(15, 53, 113, .65));
}
h1 {
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  font-family: garamond;
}
h2 {
  text-align: center;
  color: #E0FFFF;
}
footer {
  text-align: center;
  text-shadow: 2px 1px 3px #81542a;
  opacity: .6;
}
#img-caption {
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}
header {
  text-align: center;
  text-decoration-line: underline;
}
#image {
  align-content: center;
  height: 300px;
  width: auto;
}
p {
  text-align: center;
  color: #E0FFFF;
  font-size: large;
}
#tribute-link{
  color: #E0FFFF;
}