h1{
    text-align: center;
}
h2{
    text-align: center;
}
body{
    width: 100vw;
    color: rgb(255, 255, 255);
    z-index: 99;
    position: absolute;
    width: 100%;
    margin: 0px auto;
    padding: 120px 0px;
    background-color: rgb(15, 55, 81, .65);
    display: grid;
}
.footer-container {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0%;
    left: 0;
}
.footer {
    margin: 0 auto;
    width: 360px;
    height: 100%;
    padding: 2px 30px 0 0;
    background: rgba(236, 220, 200, .4);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    transition: background 300ms;
    display: flex;
    column-gap: 20px;
    justify-content: center;
}
.footer i {
    font-size: 16px;
    margin: 0 5px 0 20px;
}
.footer:hover {
    background: rgba(255, 255, 255, .7);
}
#box1{
    padding: 10rem;
    background: var(--dark-bg);
    font-size: 1.5rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    border: 2px solid;
    background-color: rgba(201, 193, 193, 0.2);
}
#button{
    margin: 3rem;
    width: 12rem;
    align-self: center;
    position: relative;
    border: 1.5px solid;
    height: 40px;
}
#email{
    height: 20px;
    text-size-adjust: auto;
}
#name{
    height: 20px;
}